<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cookies</title>
    </head>
    <body>
        <p>Did you steal the cookies from the cookie jar?</p>
        <form action="/cookies" method="post">
            <label>
                <input type="radio" name="stolen" value="true">
            </label> Yes <br>
            <label>
                <input type="radio" name="stolen" value="false">
            </label> No <br>
            <input type="hidden" name="token" value="{{.}}">
            <input type="submit">
        </form>
    </body>
</html>