<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test Login Page</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <label>
                Username:
                <input type="text" name="username">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <input type = "hidden" name="token" value="{{.}}">
            <input type="submit" value="login">
        </form>
    </body>
</html>