<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upload Page</title>
    </head>
    <body>
        <form enctype="multipart/form-data" action="upload" method="post">
            <input type="file" name="file">
            <input type="hidden" name="token" value="{{.}}">
            <input type="submit" value="submit">
        </form>
    </body>
</html>